.p1::before {
  content: "•"; /* Unicode character for a bullet point */
  color: #f38c73; /* Change the color as needed */
  font-size: 20px; /* Adjust the size as needed */
  vertical-align: middle; /* Aligns the dot vertically with the text */
  margin-right: 10px; /* Adds some space between the dot and the text */
  display: inline-block; /* Ensures the dot is inline with text */
}

.head {
  text-align: center;
  color: #f38c73;
  font-size: 100px;
  border-bottom: 1px solid black;
}

  .Logo{
    width: 50%;
    height: 100%; /* You can adjust this height as needed */
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center; /* To center the image horizontally */
    align-items: center; /* To center the image vertically */
    padding-bottom: 20px;
  }
  .head2 {
    text-align: center;
    color: #f38c73;
    font-size: 800%;
  }
  .head3 {
    text-align: center;
    color: #f38c73;
    font-size: 500%;
  }
  
  .introText {
    color: #f38c73;
    font-size: 15px;

  }
  .arTitle {
    font-size: 20px;
    
  }

  .introTextContainer {
    padding-top: 20px;
    padding-left: 10%;
    padding-bottom: 70px;
  }


  .Slide {
    padding-top: 40px;
    width: 60%;
    height: 100%; /* You can adjust this height as needed */
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center; /* To center the image horizontally */
    align-items: center; /* To center the image vertically */
}

.arImage{
  width: 100%;
}

.buttonContainer{
  text-align: center;
  padding-bottom: 20px;
}

.button{
  padding-top: 20px;
  width: 35%;
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  outline: none;
  background-image: none;
  margin-left: auto;
  margin-right: auto;
}

.social {
  padding-top: 50px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 40px;
}

hr {
  border-color: #f38c73;
  height: 1px; /* Adjust the thickness of the line */
  width: 50%; /* Adjust the width as per your requirement */
  background-color: #f38c73; /* Set the color of the line */
  margin: 0 auto; /* This centers the line horizontally */
}


.footer {
  width: 100%;
  background-color: #f38c73; /* Your desired background color */
  color: #2C4433; /* Your desired text color */
  padding: 10px 0; /* Adjust padding as needed */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left-content {
  margin-left: 200px; /* Adjust left margin as needed */
}

.right-content {
  margin-right: 200px; /* Adjust right margin as needed */
}

.bottom{
  text-align: center;
}