:root {
  font-family: 'Medium';
  src: local('Medium'), url(./fonts/Medium.otf) format('otf');

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #2C4433;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


